body {
    font-family: helvetica, arial, sans-serif;
   }
  
h1 {
    color: #3a241d;
    text-align: center;
    background-color: #43c3e6;
}


.grid-container {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    background-color: #cecfd1d6;
  }
  
.grid-container > div {
    background-color: #c7bfbf;
}

.plaza{
    display: grid;
    grid-template-rows: 40vh 60vh;
}

.cielo {
    background: #43c3e6;    
}
    
.suelo {
    background: #3dc927;
}

.contenedoriz{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 15% 5%;
}

.contenedor{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 15% 5%;
}

.items{
    position: relative;
    align-items: center;
}

.ima {
	position: absolute;
    z-index: 2;
}